<html>
    <head>   
        
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <app-header></app-header>
        <br><br><br><br><br>

<!-- <div style="padding: 10px 10px 10px 10px; position:relative;">
<div style="width:70%; float:left; border: 1px;"> sf</div>

<span  style="width:30%; right:0;"> sdf</span>
</div> -->
<table style="padding: 10px 50px 10px 50px; "> 
<tr>
    <th style="width:50%;">
    <div style=" padding: 10px 50px 10px 50px; align-content: center;">
        
    <form  [formGroup]="angForm" (ngSubmit)="angForm.valid && submitQuestions()">
        <div class="form-group">
            <div *ngIf="angForm.controls['testName'].invalid && (angForm.controls['testName'].dirty || angForm.controls['testName'].touched)" class="alert alert-danger">
                <div *ngIf="angForm.controls['testName'].errors.required">
                Name is required.
            </div>
            </div>
        <label for="testName">Test Name:</label>
        <input type="text" class="form-control" id="testName" formControlName="testName" >
        </div>

        <div class="form-group">
        <label for="pwd">Assign To:</label>
        <select class="form-control" id="user" formControlName="user" >
        <option value="0">All</option>    
        </select>
        </div>
        <div class="form-group"><table style="text-align: center; width: 100%; "><tr> 
                <th style="text-align: left; color: green; width: 25%;  cursor: pointer;" (click)="addQuestion()" > Add </th> 
                <th style="text-align: center; color: green; width: 50%; " > [ Questions ] </th> 
            <th style="text-align: right; color: green;  width: 25%; cursor: pointer;" (click)="deleteQuestion()">  Delete  </th> 
        </tr></table></div>
        
        <div class="form-group" formArrayName="question">
            <table id="qus" >
                <tr *ngFor='let value of questionControl;let i = index'>
                    <td>           

                            <label for="qus">Q {{i + 1}}:</label>
                            <textarea class="form-control" style="width:90vh; height:100px;" [id]="i" [formControlName]="i" ></textarea>
                    </td>

                </tr>
            </table>
        </div>

        <input type="submit" class="btn btn-default" value="Submit" (click)="toast()">
    </form> 
    </div>
</th>

<th style="width:50%; vertical-align: 0%;  align-items: baseline; border-left: 1px solid green;">
        <div style="padding: 10px 50px 10px 50px; align-content: center;color:green; float: left;">
                <u>History</u>
                <hr>
                <span>Test Name</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Total Question</span>
                <br><br>
                <span>History Part, Under Construction</span>
            </div>
    </th>
</tr>
</table>


<br><br><br><br><br>
<app-footer></app-footer>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
	
     
    </body>
</html>