<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Raja Yadav | Portal</title>

</head>

<body>
	<!-- {{loginForm.value | json}} -->
	<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" >
	
		<div class="container-fluid">
			<div class="container ">
				<div class="row ">
					<div class="col-sm-10 login-box">
						<div class="row">
							<div class="col-lg-8 col-md-7 log-det">
								<div class="small-logo">
									<i class="fab fa-asymmetrik"></i> Portal Login
								</div>
								<h2>Sign in to Portal</h2>
								<div class="row">
									<ul>
										<li><i class="fab fa-facebook-f"></i></li>
										<li><i class="fab fa-twitter"></i></li>
										<li><i class="fab fa-linkedin-in"></i></li>
									</ul>
								</div>
								<div class="row">
									<p class="small-info">or use your email account</p>
								</div>

								
								<div class="text-box-cont">
									<div *ngIf="response !='' && response != null "class="alert alert-danger small-info">
                                      {{response}}
                                </div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1"><i
												class="fas fa-user"></i></span>
										</div>
										<input type="text"   class="form-control" placeholder="Username"
											aria-label="Username"   name="username"
											aria-describedby="basic-addon1" ngModel  required>
									</div>
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text" id="basic-addon1"><i
												class="fas fa-lock"></i></span>
										</div>
										<input type="password" class="form-control"
											placeholder="password" aria-label="password" id="password" name="password"
											aria-describedby="basic-addon1" ngModel required>

									</div>
									
									

									<div class="row">
										<p class="forget-p"><a href="">Forget Password ?</a></p>
									</div>
									<div class="input-group center mb-3">
										<input type="submit" class="btn btn-success btn-round"
											value="Sign in" />
									</div>
								</div>



							</div>
							<div class="col-lg-4 col-md-5 box-de">
								<div class="ditk-inf">
									<h2 class="w-100">Din't Have an Account</h2>
									<p>Simply Create your account by clicking the Signup Button</p>
									<a href="">
										<button type="button" class="btn btn-outline-light">SIGN
											UP</button>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
		
</body>

</html>