<html>
    <head>   
        
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<meta charset="utf-8">
<meta name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <app-header></app-header>
        <br><br><br><br><br>

<!-- <div style="padding: 10px 10px 10px 10px; position:relative;">
<div style="width:70%; float:left; border: 1px;"> sf</div>

<span  style="width:30%; right:0;"> sdf</span>
</div> -->
<table style="padding: 10px 50px 10px 50px; "> 
<tr>
    <th style="width:50%;">
    <div style=" padding: 10px 50px 10px 50px; align-content: center;">
        <div>TestName - {{testName}}</div>
        
    <form [formGroup]="angForm" (ngSubmit)="angForm.valid && ansSubmit()" >
        
        <div class="form-group" formArrayName="ans">   
                <table id="qus" >
                    <tr  *ngFor='let value of questionControl;let i = index' >
                            <div [formGroupName]="i">      
                                    <td>    
                                            <label for="qus">Q {{ i + 1}}: {{value.get('question').value}}</label>   
                                            <br>
                                            <label for="qus">Ans: {{value.get('answer').value}}</label>   
                                                                                     
                                            <input type="number" min="0" class="form-control" style="width:90vh;"  formControlName="score" >
                                    </td>
                                    
                                </div>
                      

                    </tr>
                </table>
            </div>
            <div *ngIf="submit == '' && testName != ''">
            <input type="submit" class="btn btn-default" value="Submit" (click)="toast()">
            </div>
            <div *ngIf="submit != ''">
            {{submit}}
            </div>
    </form> 
    </div>
</th>

<th style="width:50%; vertical-align: 0%;  align-items: baseline; border-left: 1px solid green;">
        <div style="padding: 10px 50px 10px 50px; align-content: center;color:green; float: left;">
                <u>History</u>
                <hr>
                <span>Test Name</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Total Question</span> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span>Score</span>
                <br><br>
                <span>History Part, Under Construction</span>
            </div>
    </th>
</tr>
</table>


<br><br><br><br><br>
<app-footer></app-footer>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
	
     
    </body>
</html>