
  .up-div{
    padding: 10vh 3vh 3vh 3vh;
    min-width: 97%;
    float:left;
  }

  .up-div-first{
    width:32%;
    float:left;
    background-color: white;
    height:18vh;
  
  }
  .up-div-second{
    width:31%;
    float:left;
    background-color: white;
    height:18vh;
    margin-left: 5vh;
  }
  .up-div-third{
    width:31%;
    float:left;
    background-color: white;
    height:18vh;
    margin-left: 5vh;
  }
.up-content{
  text-align: center;
  min-width: 25%;
}
.up-label{
  padding: 10vh 5vh 5vh 3vh;
}

.label{
  min-width:4%;
  min-height: 100%;
  background-color: #6964cc;
  float:left;
}

.chart-layout{
  min-width: 99%;  
  background-color: white;
  min-height: 40vh;
  height:54vh;
  margin-top:5vh;
  float:left;
}

.colum-one{
  min-width: 47.5%; 
  background-color: white;
  min-height: 40vh;
  margin-top:5vh;
  float:left;
}

.colum-two{
  min-width: 47.5%; 
  background-color: white;
  min-height: 40vh;
  margin-top:5vh;
  margin-left: 8vh;
  float:left;
}











