<html>
<head>
        <meta charset="utf-8">
        <meta name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Raja Yadav</title>
</head>
<body>
    <header>
        <div class="logo-lg"><b>Raja</b>Yadav</div><span class="head-open" ><b>&#9776;</b></span>
        <div class="main-header">HI ! {{userName}}&nbsp; &nbsp;&nbsp; &nbsp;<i class="fas fa-power-off icon" (click)="logout()"></i>&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</div>
        </header>


        <div id="menu" [style.display]="menudisplay">
            <div (click)="openmenu()" style="background-color: #6964cc; cursor: pointer; width:100%; text-align: center; float:left; height: 5.7vh; color:white; padding:1vh;"><b> Close </b> </div>
            <br><br>
            <div class="search"><input type="text" id="search" name="search" placeholder="Search..."/></div>
            <br>
          
          </div>


  </body>
  </html>