header{
    background-color: #6964cc;
    /* box-shadow: 0 0 5px black; */
    color:white;
    width:100%;
    height:auto;
    padding: 2vh 3vh;
    font-size: 2.5vh;
    top: 0;
    right: 0;
    left: 0; 
    position: absolute;
    z-index: 1030;     
}
.logo-lg{
    width:13%;
    float:left;   
    font-size: 2.5vh;
    text-align: center; 
}

.head-open{
    width:5%;
    float:left;
    cursor: pointer;
}
.main-header {  width:auto; float:right;   } 

.font{
    font-family: "slab", Arial, Helvetica, sans-serif; 
    font-size: 3vh;
color:white;
}

/* @media screen and (max-width: 575px) {
  .logo-lg { width:100%;     text-align: center; } 
    .main-header { width:100%;         text-align: center; } 
}
@media screen and (max-width: 768px) {
    .logo-lg { width:100%;        text-align: center;  } 
        .main-header { width:100%;            text-align: center; } 
  } */


  
#menu{    
    text-align:center;
    background-color: white;
    /* box-shadow: 0 0 5px black; */
    width:13%;
    /* padding: 1vh 3vh; */
    position:fixed;
    z-index:1032;
    float:left;
    /* padding: 30px 3px; */
    min-height:100%;
}

a:link {
    text-decoration: none;
    color:black;
  }
  
  a:visited {
    text-decoration: none;
    color:black;
  }
.icon{
    cursor: pointer;
}
.menu-item{
    width:100%;
    height: 7%;
    text-align:left;
    cursor: pointer;
}
.menu-line{
    width:100%;
}
/* @media screen and (max-width: 575px) {
      #menu{ margin-top:10%;}
  }
  @media screen and (max-width: 768px) {
          #menu{ margin-top:10%;}
    } */

    ::placeholder {
        color: #747f8a !important;
        font-size: 13px;
        opacity: .5 !important; }

#search{
    width:25vh;
    height:5vh;
    border-radius: 2ch;
    border-color: #6964cc;
   
}
