<div style="text-align: center; position: relative; width:100%;bottom:0;"><hr> 
    Copyright &copy; 2021 (All Rights Reserved) | Terms &amp; Conditions | Privacy Policy   <br>
    Powered By Raja Yadav
    <br>
  </div>